@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');

.home-page {
  min-height: 93vh;
  display: flex;
  align-items: center;
  background-image: url('../../../images/background.jpg');
  background-position: center;
  background-size: cover;
}

.welcome-text {
  width: 100%;
  text-align: center;
}

.title {
  font-size: 95px;
  font-family: 'Caveat', cursive;
  color: #fff;
  text-shadow: 2px 2px #000;
}

.subtitle {
  font-size: 25px;
  padding-top: 10px;
  font-family: 'Caveat', cursive;
  color: #fff;
  /* text-shadow: 2px 2px #000; */
}

.button-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.home-button {
  width: 200px;
  height: 55px;
}

@media only screen and (min-width: 1200px) {
  .button-container {
    padding: 0 200px;
  }
  .title {
    padding: 0 100px;
  }
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 60px;
  }
  .home-button {
    width: 150px;
    height: 50px;
  }
}
